@import "../.././color.css";

.login-form{
    margin: 10px 10px 10px auto;
    display: flex;
    flex-direction: column;
    width: 550px;
    padding: 10px;
    align-items: center;    
    justify-content: center;
    height: 400px;
    background-color: var(--blue-color);
    border-radius: 20px;
}

.appButton{
    cursor: pointer;
    background-color: var(--grey-color);
    padding: 8px;
    margin: 10px;
    color: var(--white-color);
    width: 120px;
    border-radius: 5px;
    border: none;
}

.formHead{
    padding: 20px;
    color: var(--black-color);
}